<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .week{
        font-size: 40px;
        height: 80px;
        line-height: 80px;
        font-weight: bolder;
    }
    .timeBox{
        height: 60px;
        display: flex;
        align-items: center;
    }
    .time{
        font-style: italic;
    }
    .solid{
        border-bottom: 1px solid black;
        line-height: 2;
    }
    .dashed{
        border-bottom: 1px dashed black;
        line-height: 2;
    }
    .time{
        font-style: italic;
        font-weight: bold;
    }
</style>
<body>
    <div class="solid week">week1</div>
    <div class="solid timeBox"><div>現在時間為 <span class="time">{{ current_time }}</span></div></div>
    <div class="contentBox" id="contentBox">
        {% for message in messages %}
        <div class="{% if forloop.first %}solid{% else %}dashed{% endif %}">
            <div class="title">{{ forloop.counter }}</div>
            <div class="content">{{ message }}</div>
        </div>
        {% endfor %}
    </div>
</body>
<script>
    document.getElementById('time').innerText = `${new Date().getFullYear()} 年 ${new Date().getMonth()+1} 月 ${new Date().getDate()} 日 ${new Date().getHours()}:${new Date().getMinutes()}`

</script>
</html>